thead {
    background-color: rgb(24, 23, 23);
}

thead {
    color: #fff;
}

table th, td {
   padding: 10px 40px;
}

tbody tr:hover {
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    transition: all ease 0.1s;
    transform: scale(1.01);
}

tbody tr {
    color: #fff;
    background-color: rgb(69, 69, 69);
    transition: all ease 0.1s;
    cursor: pointer;
}